<a href="https://colab.research.google.com/github/bbishal12/Quiz0/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Visualization
##Bishal Budhathoki
##Quiz 4 : SQL Essential

Use the Cloud Resource Manager to Create a Cloud Platform project if you do not already have one.
Enable billing for the project.
Enable BigQuery APIs for the project.

In [2]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Now that we are authenticated. We are going to look at the bikers trip data from Austin. We have a project called data-viz-bishal in my BigQuery interface

1. Navigate to the dataset 'austin_bikeshare.bikeshare_trips'

In [ ]:
%%bigquery --project data-viz-bishal
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   total_rows
0     1424786

Here is the dataset of austin_bikeshare.bikeshre_trips

Computing the no of entries in the dataset.

In [ ]:
%%bigquery --project data-viz-bishal
SELECT 
  COUNT(*) as total_entries
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   total_entries
0        1424786

That is big entries.
There is alot of entries in the data set excel will have hard time computing. SQL do the data manipulations on the database server.

Compute the average time for a trip based on starting point

In [ ]:
%%bigquery --project data-viz-bishal
SELECT 
  start_station_name, 
  AVG(duration_minutes) as Average_time_for_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name is not null
GROUP BY start_station_name

                        start_station_name  Average_time_for_trip
0                         Zilker Park West              27.168259
1                  Toomey Rd @ South Lamar              28.115798
2          State Capitol @ 14th & Colorado              30.421842
3                         Waller & 6th St.              23.265843
4                               Pease Park              28.648889
..                                     ...                    ...
188  Republic Square @ Guadalupe & 4th St.              23.067313
189                             3rd & West              19.937466
190                               3rd/West              34.152547
191                          Nueces & 26th              16.805353
192                            26th/Nueces              24.521670

[193 rows x 2 columns]

There are 13967 rows in the above data. Those are the average time for every indiviual trip.

Computing how many trips start at each starting point

In [3]:
%%bigquery --project data-viz-bishal
SELECT 
  start_station_name,
  COUNT(*) as total_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY total_trips DESC

           start_station_name  total_trips
0        21st & Speedway @PCL        72799
1        Riverside @ S. Lamar        40635
2    City Hall / Lavaca & 2nd        36520
3              2nd & Congress        35307
4        Rainey St @ Cummings        34758
..                        ...          ...
188           Marketing Event            4
189             Eeyore's 2018            2
190                    Stolen            1
191             Eeyore's 2017            1
192     cesar Chavez/Congress            1

[193 rows x 2 columns]

Here, in the dataset is the trips start at each starting point (name).